
nbproject/private/private.xml
.idea/.name
.idea/encodings.xml
.idea/HMS.iml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/dictionaries/Bob.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/dataSources.ids
.idea/dataSources.local.xml
.idea/dataSources.xml
