#Max file size.
php_value upload_max_filesize 1000M

#MAKE SURE THIS VALUE IS A HIGH ONE BECAUSE
#WHEN THIS ONE IS A LOW VALUE IT /WILL NOT/ SHOW AN ERROR
#WHEN A FILE IS TOO BIG BUT JUST STRAIGHT UP IGNORE IT.
#SET THIS TO A SIZE THAT IS SO HIGH YOU DO NOT EVEN WANT TO TRY TO PROCESS IT.
php_value post_max_size 100000M

#ERROR LOGGING
php_flag log_errors On
php_value error_log error.log