#content {
    
    margin-top: 75px;
    
}

.teacher-name {
    
    /*color: #04519b;*/
    color: #0062C4;
    
}

.student-name {
    
    color: #000;
    
}

#support-div {
    
    width: 80%;
    /*height: 10px;*/
    display: box;
    /*background-color: red;*/
    /*margin-right: 5px;*/
    
}

#support-link {
    
    position: absolute;
    margin-left: 60vw;
    margin-top: 15px;
    cursor: pointer;
    
}